<div id="<%= dom_id page %>">
  <p>
    <strong>Title:</strong>
    <%= page.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= page.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= page.user_id %>
  </p>

</div>
